<% provide(:title, "Home") %>

<div class="textblock" id="section1">
	<%= link_to image_tag("propic.jpg", id:"propic") %>
	<h1>Hola! I am Aditya!</h1>
	<p>I am an Electronics Engineer with a passion for Design, Photography and Video Games.</p>
</div>

<div class="container-fluid">
	<div class="textblock" id="section2">
		<h1>Don't we all need a Purpose?</h1>
		<h2>This page is under Construction. <em>Perpetually.</em></h2>
		<p>
			I was told that the word Dilettane was derogatory in nature. It means "someone who dabbles". In the 23 years of my existence, apart from trying to lead a life that would be deemed as normal, I feel I've only dabbled. How can it be a bad thing? Dabbling has only made me realize one thing. Whatever I take up, I have to gain an understanding with it at a very intrinsic level. Be it taking Pictures, or building websites. Be it telling stories or dreaming of new ones.
			Life is too short to be perfect in one thing. I choose to indulge in whatever excites the little kid in me.
		</p>
	</div>	
</div>


<div class="textblock" id="section3">
	<div class="container-fluid">
			<h1>Contact Me!</h1>
			<p>If you think I'm someone you can relate to, or someone whom you can work with, <a href="mailto:aditya_dev@outlook.com?Subject=Hello" target="_top">leave me a message</a> or connect with me online! </p>
			<ul>
                <li><%= link_to image_tag("flickr.png", alt: "Flickr Logo"), 'http://www.flickr.com/adiawake', target: "_blank" %></li>
                <li><%= link_to image_tag("twitter.png", alt: "Twitter Logo"), 'http://www.twitter.com/strangelyhuman', target: "_blank" %></li>
                <li><%= link_to image_tag("pinterest.png", alt: "Pinterest Logo"), 'http://www.pinterest.com/adiawake', target: "_blank" %></li>
                <li><%= link_to image_tag("tumblr.png", alt: "Tumblr Logo"), 'http://www.desolateechoes.tumblr.com', target: "_blank" %></li>
                <li><%= link_to image_tag("behance.png", alt: "Behance Logo"), 'http://www.behance.net/strangelyhuman', target: "_blank" %></li>
              </ul>     	
	</div>
</div>